.header {
  width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.navbar {
  max-width: 120em;
  width: 100%;
  margin: 0 auto;
}

.nav-item {
  margin-right: 5px;
}

.alert {
  margin-bottom: 0;
}