<% include partials/header %>
<main role="main" class="text-center cover-container">
  <div class="inner cover landing-content text-light">
    <h1 class="cover-heading">Welcome to YelpCamp</h1>
    <p class="lead">Where you review campgrounds</p>
    <div class="lead">
      <a class="btn btn-lg btn-primary" href="/campgrounds" alt="campgrounds">View All Campgrounds</a>
    </div>
  </div>
</main>
<% include partials/footer %>
