<% include ../partials/header %>

<main class="container container--main py-5">
<div class="jumbotron">
  <div class="container">
    <h1 class="welcome--heading">Welcome to YelpCamp!</h1>
    <p class="welcome--subheading">View our hand-picked campgrounds from all over the world</p>
    <div>
      <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Our Most Popular Campgrounds</h3>
  </div>
  <% campgrounds.forEach(function(campground){ %>
  <figure class="figure col-md-3 col-sm-6">
    <img class="figure-img img-fluid" src="<%= campground.image %>">
    <figcaption class="figure-caption"><%= campground.name %></figcaption>
    <p>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
    </p>
  </figure>
  <% }) %>
</div><!--row-->
</main><!--container-->
<% include ../partials/footer %>
